resources/AppxPackaging/Manifest/Schema/2015/MobileManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD MOBILE MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for the Mobile
  Platform features in Thresold.  These types are imported into the Foundation
  schema and included in products that support Mobile.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           xmlns="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           >
           
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:element name="Capability" substitutionGroup="f:CapabilityChoice">
    <xs:complexType>
      <xs:attribute name="Name" type="t:ST_Capability_Mobile" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Extension" substitutionGroup="f:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="AowApp" type="CT_AowApp" />
        <xs:element name="MobileMultiScreenProperties" type="CT_MultiScreen"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_Mobile" use="required" />
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_AowApp">
    <xs:all>
      <xs:element name="PayloadName" type="t:ST_NonEmptyString" minOccurs="1"/>
      <xs:element name="PayloadVersion" type="t:ST_NonEmptyString" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CT_MultiScreen">
    <xs:attribute name="RestrictToInternalScreen" type="xs:boolean"/>
  </xs:complexType>
</xs:schema>
