resources/AppxPackaging/Manifest/Schema/2015/ServerManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD SERVER PREVIEW MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for Server
  features in Thresold.  These types are imported into the Foundation
  schema and included in products that support Server.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/serverpreview/windows10"
           xmlns="http://schemas.microsoft.com/appx/manifest/serverpreview/windows10"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:serverpreview="http://schemas.microsoft.com/appx/manifest/serverpreview/windows10"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <!-- Application extensions in the Server Preview namespace    -->

  <xs:simpleType name="ST_ApplicationExtensionCategory_Server">
    <xs:restriction base="xs:string">
      <xs:enumeration value="windows.ntServices"/>
      <xs:enumeration value="windows.wmiProviders"/>
      <xs:enumeration value="windows.performanceProviders"/>
      <xs:enumeration value="windows.eventProviders"/>
      <xs:enumeration value="windows.iisModules"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Extension" substitutionGroup="f:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="IisModules" type="CT_IisModules" minOccurs="0"/>
        <xs:element name="NTServices" type="CT_NTServices" minOccurs="0"/>
        <xs:element name="WmiProviders" type="CT_WmiProviders" minOccurs="0"/>
        <xs:element name="PerformanceProviders" type="CT_PerformanceProviders" minOccurs="0"/>
        <xs:element name="EventProviders" type="CT_EventProviders" minOccurs="0"/>
      </xs:choice>
      <xs:attribute name="Category" type="ST_ApplicationExtensionCategory_Server" use="required"/>
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
    </xs:complexType>
    <xs:unique name="ModuleName">
      <xs:selector xpath="serverpreview:IisModules/serverpreview:IisModule" />
      <xs:field xpath="@Name" />
    </xs:unique>
    <xs:unique name="ModuleFileName">
      <xs:selector xpath="serverpreview:IisModules/serverpreview:IisModule" />
      <xs:field xpath="@ModuleDll" />
    </xs:unique>
    <xs:unique name="ModuleSchemaName">
      <xs:selector xpath="serverpreview:IisModules/serverpreview:IisModule" />
      <xs:field xpath="@SchemaFileName" />
    </xs:unique>
    <xs:unique name="TopLevelSectionDefinitionName">
      <xs:selector xpath="serverpreview:IisModules/serverpreview:IisModule/serverpreview:SectionDefinition" />
      <xs:field xpath="@Name" />
    </xs:unique>
    <xs:unique name="ServiceName">
      <xs:selector xpath="serverpreview:NTServices/serverpreview:NTService"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
    <xs:unique name="ServiceDependencyName">
      <xs:selector xpath="serverpreview:NTServices/serverpreview:NTService/serverpreview:ServiceDependencies/serverpreview:ServiceDependency"/>
      <xs:field xpath="@Name"/>
    </xs:unique>
    <xs:unique name="InstallMofName">
      <xs:selector xpath="serverpreview:WmiProviders/serverpreview:WmiProvider/serverpreview:Mof"/>
      <xs:field xpath="@InstallMof"/>
    </xs:unique>
    <xs:unique name="UninstallMofName">
      <xs:selector xpath="serverpreview:WmiProviders/serverpreview:WmiProvider/serverpreview:Mof"/>
      <xs:field xpath="@UninstallMof"/>
    </xs:unique>
    <xs:unique name="PerformanceProviderManifestName">
      <xs:selector xpath="serverpreview:PerformanceProviders/serverpreview:PerformanceProvider"/>
      <xs:field xpath="@ManifestFile"/>
    </xs:unique>
    <xs:unique name="PerformanceProviderId">
      <xs:selector xpath="serverpreview:PerformanceProviders/serverpreview:PerformanceProvider"/>
      <xs:field xpath="@Id"/>
    </xs:unique>
    <xs:unique name="EventProviderManifestName">
      <xs:selector xpath="serverpreview:EventProviders/serverpreview:EventProvider"/>
      <xs:field xpath="@ManifestFile"/>
    </xs:unique>
    <xs:unique name="EventProviderId">
      <xs:selector xpath="serverpreview:EventProviders/serverpreview:EventProvider"/>
      <xs:field xpath="@Id"/>
    </xs:unique>
  </xs:element>


  <!-- TYPES  used by elements in the Server Preview namespace    -->

  <xs:complexType name="CT_IisModule">
    <xs:choice maxOccurs="100" minOccurs="0">
      <xs:element name="SectionGroupDefinition" type="CT_SectionGroupDefinition" />
      <xs:element name="SectionDefinition" type="CT_SectionDefinition" />
      <xs:element name="SectionData" type="CT_SectionData" />
    </xs:choice>
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required" />
    <xs:attribute name="ModuleDll" type="ST_Dll" use="required" />
    <xs:attribute name="SchemaFileName" type="ST_XML" use="optional" />
  </xs:complexType>

  <xs:simpleType name="ST_OverrideModeDefault">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allow"/>
      <xs:enumeration value="deny"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_SectionDefinition">
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required" />
    <xs:attribute name="OverrideModeDefault" type="ST_OverrideModeDefault" use="optional" />
    <xs:attribute name="AllowDefinition" type="ST_AllowDefinition" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_SectionData">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="CollectionElement" type="CT_CollectionElement" />
      <xs:element name="Attribute" type="CT_Attribute" />
    </xs:choice>
    <xs:attribute name="SectionPath" type="t:ST_NonEmptyString" use="required" />
    <xs:attribute name="SubPath" type="t:ST_NonEmptyString" use="optional" />
  </xs:complexType>

  <xs:complexType name="CT_CollectionElement">
    <xs:anyAttribute processContents="skip"/>
  </xs:complexType>

  <xs:complexType name="CT_Attribute">
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required" />
    <xs:attribute name="Value" type="t:ST_NonEmptyString" use="required" />
  </xs:complexType>

  <xs:complexType name="CT_SectionGroupDefinition">
    <xs:sequence>
      <xs:element name="SectionGroupDefinition" type="CT_SectionGroupDefinition" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SectionDefinition" type="CT_SectionDefinition" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Name" type="t:ST_NonEmptyString" use="required" />
  </xs:complexType>

  <xs:simpleType name="ST_AllowDefinition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="machineOnly"/>
      <xs:enumeration value="machineToRootWeb"/>
      <xs:enumeration value="appHostOnly"/>
      <xs:enumeration value="machineToApplication"/>
      <xs:enumeration value="everywhere"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_IisModules">
    <xs:sequence>
        <xs:element name="IisModule" type="CT_IisModule" maxOccurs="100" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_NTServices">
    <xs:sequence>
      <xs:element name="NTService" type="CT_NTService" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_WmiProviders">
    <xs:sequence>
      <xs:element name="WmiProvider" type="CT_WmiProvider" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_PerformanceProviders">
    <xs:sequence>
      <xs:element name="PerformanceProvider" type="CT_PerformanceProvider" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_EventProviders">
    <xs:sequence>
      <xs:element name="EventProvider" type="CT_EventProvider" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_NTService">

    <xs:all>
      <xs:element name="ServiceDependencies" type="CT_ServiceDependencies" minOccurs="0"/>
      <xs:element name="ServiceParameters" type=" CT_NTServiceParameters" minOccurs="0"/>
    </xs:all>

    <xs:attribute name="Name" type="ST_ServiceName" use="required"/>
    <xs:attribute name="Executable" type="t:ST_ExecutableAnyCase" use="required"/>
    <xs:attribute name="StartupType" type="ST_ServiceStartupType" use="required"/>
    <xs:attribute name="StartAccount" type="ST_StartAccount" use="required"/>

    <xs:attribute name="DisplayName" type="ST_DisplayName" use="optional"/>
    <xs:attribute name="StartErrorAction" type="ST_ServiceStartErrorAction" use="optional"/>
    <xs:attribute name="StartParameters" type="t:ST_NonEmptyString" use="optional"/>
    <xs:attribute name="Description" type="t:ST_NonEmptyString" use="optional"/>
    <xs:attribute name="FailureRecoveryAction" type="ST_FailureRecoveryAction" use="optional"/>

  </xs:complexType>

  <xs:complexType name ="CT_ServiceDependencies">
    <xs:sequence>
      <xs:element name="ServiceDependency" maxOccurs="100">
        <xs:complexType>
          <xs:attribute name="Name" type="ST_ServiceName" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ST_ServiceName">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ServiceStartupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="manual"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_DisplayName">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ServiceStartErrorAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ignoreError"/>
      <xs:enumeration value="logError"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_StartAccount">
    <xs:restriction base="xs:string">
      <xs:enumeration value="localSystem"/>
      <xs:enumeration value="localService"/>
      <xs:enumeration value="networkService"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_FailureRecoveryAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="restartService"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_NTServiceParameters">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="100">
        <xs:element name="ServiceParameterDword" type="CT_NTServiceParameterDword" minOccurs="1"/>
        <xs:element name="ServiceParameterString" type="CT_NTServiceParameterString" minOccurs="1"/>
        <xs:element name="ServiceParameterKey" type="CT_NTServiceParameterKey" minOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_NTServiceParameterKey">
    <xs:attribute name="Subkey" type="t:ST_FileName" use="required"/>
  </xs:complexType>

  <xs:complexType name="CT_NTServiceParameterDword">
    <xs:attribute name="Name" type="ST_NTServiceParameterName" use="required"/>
    <xs:attribute name="Value" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="Subkey" type="t:ST_FileName" use="optional"/>
  </xs:complexType>

  <xs:complexType name="CT_NTServiceParameterString">
    <xs:attribute name="Name" type="ST_NTServiceParameterName" use="required"/>
    <xs:attribute name="Value" type="t:ST_NonEmptyString" use="required"/>
    <xs:attribute name="Subkey" type="t:ST_FileName" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ST_NTServiceParameterName">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:maxLength value="16383"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_WmiProvider">
    <xs:sequence>
      <xs:element name="Mof" type="CT_Mof" maxOccurs="100"/>
    </xs:sequence>
    <xs:attribute name="Name" type="ST_WmiName" use="required"/>
    <xs:attribute name="Namespace" type="ST_WmiName" use="required"/>
    <xs:attribute name="HostingSpecification" type="ST_HostingSpecification" use="required"/>
    <xs:attribute name="HostingGroup" type="ST_HostingGroup" use="optional"/>
    <xs:attribute name="DecoupledProviderExecutable" type="t:ST_ExecutableAnyCase" use="optional"/>
  </xs:complexType>

  <xs:complexType name ="CT_Mof">
    <xs:attribute name="InstallMof" type="ST_Mof" use="required"/>
    <xs:attribute name="UninstallMof" type="ST_Mof" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ST_WmiName">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:maxLength value="1024"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Mof">
    <xs:restriction base="t:ST_FileName">
      <xs:pattern value=".+\.(mof)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_HostingSpecification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="selfHost"/>
      <xs:enumeration value="decoupled:Com"/>
      <xs:enumeration value="localSystemHost"/>
      <xs:enumeration value="localSystemHostOrSelfHost"/>
      <xs:enumeration value="networkServiceHost"/>
      <xs:enumeration value="localServiceHost"/>
      <xs:enumeration value="networkServiceHostOrSelfHost"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_HostingGroup">
    <xs:restriction base="t:ST_NonEmptyString">
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_PerformanceProvider">
    <xs:attribute name="Id" type="t:ST_GUID" use="required"/>
    <xs:attribute name="ManifestFile" type="ST_XML" use="required"/>
    <xs:attribute name="ResourceFile" type="ST_ExeOrDll" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ST_XML">
    <xs:restriction base="t:ST_FileName">
      <xs:pattern value=".+\.(xml)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ExeOrDll">
    <xs:restriction base="t:ST_FileName">
      <xs:pattern value=".+\.(exe|dll)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_EventProvider">
    <xs:attribute name="Id" type="t:ST_GUID" use="required"/>
    <xs:attribute name="ManifestFile" type="ST_MAN" use="required"/>
    <xs:attribute name="ResourceFile" type="ST_ExeOrDll" use="required"/>
    <xs:attribute name="MessageFile" type="ST_ExeOrDll" use="optional"/>
    <xs:attribute name="ParameterFile" type="ST_ExeOrDll" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ST_MAN">
    <xs:restriction base="t:ST_FileName">
      <xs:pattern value=".+\.(man)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Dll">
    <xs:restriction base="t:ST_FileName">
      <xs:pattern value=".+\.(dll)"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
