resources/AppxPackaging/Manifest/Schema/2015/XboxManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD XBOX MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for features specific
  to Xbox in Thresold.  These types are imported into the Foundation schema and
  included in the Xbox product.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/xbox/thresholdpreview"
           xmlns="http://schemas.microsoft.com/appx/manifest/xbox/thresholdpreview"
           >

  <xs:simpleType name="ST_SupportedViewStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="snapped"/>
      <xs:enumeration value="filled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ViewStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ViewState" minOccurs="1" maxOccurs="2">
          <xs:complexType>
            <xs:attribute name="Name" type="ST_SupportedViewStates" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
