resources/AppxPackaging/Manifest/Schema/2019/PreviewManifestSchema_MsixAppCompatSupport.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  Vibranium Preview MANIFEST SCHEMA for Msix App Compat Support feature.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests. Please follow https://microsoft.sharepoint.com/teams/appxmanifest/SitePages/Home.aspx
  if you need to request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/preview/windows10/msixappcompatsupport"
           xmlns="http://schemas.microsoft.com/appx/manifest/preview/windows10/msixappcompatsupport"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:attributeGroup name="PreviewEntryPointAttributesGroup">
    <xs:attribute name="CompatMode" type="ST_CompatMode" use="optional" form="qualified"/>
    <xs:attribute name="Scope" type="ST_Scope" use="optional" form="qualified"/>
  </xs:attributeGroup>

  <xs:simpleType name="ST_CompatMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="classic"/>
      <xs:enumeration value="modern"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Scope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="machine"/>
      <xs:enumeration value="user"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ProgId" type="t:ST_ProgId"/>

</xs:schema>
