AppxPackaging/Manifest/Schema/2015/AppxManifestSchema2013.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  WINDOWS 8.1 APPX MANIFEST SCHEMA

  This is the Schema that defines the Windows 8.1 specific elements and attributes.
  These types are imported into the full schema which is the Windows 8.1 version
  of the Windows 8 schema. It is defined in the AppxManifestSchema2010_v2.xsd

  !!!WARNING!!!

  This schema is closed for any changes. Any changes to this schema file
  are moderated by the Appx team. Changes to the schema can potentially
  break .appx Packages and Manifests based on this schema as well as Test
  and Product code that relies on the schema.

  Please contact 'manifest' alias if you need to request an addition
  or edit to the schema.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/2013/manifest"
           xmlns="http://schemas.microsoft.com/appx/2013/manifest"
           xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>

  <!--ResourcePackage-->
  <xs:element name="ResourcePackage" type="xs:boolean"/>

  <xs:attribute name="Scale" type="t:ST_Scale_2013"/>
  <xs:attribute name="DXFeatureLevel" type="t:ST_DXFeatureLevel"/>

  <!--Device Access Capabilities-->
  <xs:complexType name="CT_Device">
    <xs:sequence>
      <xs:element name="Function" maxOccurs="100">
        <xs:complexType>
          <xs:attribute name="Type" type="t:ST_DeviceFunction" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="t:ST_DeviceId" use="required"/>
  </xs:complexType>

  <xs:element name="DeviceCapability" substitutionGroup="m:DeviceCapabilityChoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Device" type="CT_Device" maxOccurs="100"/>
      </xs:sequence>
      <xs:attribute name="Name" type="t:ST_DeviceCapability" use="required"/>
    </xs:complexType>
  </xs:element>

  <!--Extensions-->
  <xs:element name="Extension" substitutionGroup="m:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="Contact" type="CT_Contact"/>
        <xs:element name="AppointmentsProvider" type="CT_AppointmentsProvider"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_2013" use="required"/>
      <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
    </xs:complexType>
    <xs:unique name="Contact_Verb">
      <xs:selector xpath="m2:Contact/m2:ContactLaunchActions/m2:LaunchAction"/>
      <xs:field xpath="@Verb"/>
    </xs:unique>
    <xs:unique name="AppointmentsProvider_Verb">
      <xs:selector xpath="m2:AppointmentsProvider/m2:AppointmentsProviderLaunchActions/m2:LaunchAction"/>
      <xs:field xpath="@Verb"/>
    </xs:unique>
  </xs:element>

  <!--Action Extension-->
  <xs:complexType name="CT_Contact">
    <xs:all>
      <xs:element name="ContactLaunchActions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LaunchAction" maxOccurs="50">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ServiceId" type="CT_ServiceId" minOccurs="0" maxOccurs="100"/>
                </xs:sequence>
                <xs:attribute name="Verb" type="t:ST_ContactLaunchActionVerbs" use="required"/>
                <xs:attribute name="DesiredView" type="t:ST_DesiredView" use="optional"/>
                <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
              </xs:complexType>
              <xs:unique name="Service_Id">
                <xs:selector xpath="m2:ServiceId"/>
                <xs:field xpath="."/>
              </xs:unique>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="DesiredView" type="t:ST_DesiredView" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CT_ServiceId" mixed="true">
    <xs:simpleContent>
      <xs:extension base="t:ST_ServiceId">
        <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!--Calendar Provider Extension-->
  <xs:complexType name="CT_AppointmentsProvider">
    <xs:all>
      <xs:element name="AppointmentsProviderLaunchActions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LaunchAction" minOccurs="0" maxOccurs="10">
              <xs:complexType>
                <xs:attribute name="Verb" type="t:ST_AppointmentsProviderLaunchActionVerbs_2013" use="required"/>
                <xs:attribute name="DesiredView" type="t:ST_DesiredView" use="optional"/>
                <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="DesiredView" type="t:ST_DesiredView" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!--ShareTarget-->
  <xs:attribute name="Description" type="t:ST_ShareTargetDescription"/>

  <!--Visual Elements-->
  <xs:element name="VisualElements" substitutionGroup="m:VisualElementsChoice">
    <xs:complexType>
      <xs:all>
        <xs:element name="DefaultTile" type="CT_DefaultTile" minOccurs="0"/>
        <xs:element name="LockScreen" type="t:CT_LockScreen" minOccurs="0"/>
        <xs:element name="SplashScreen" type="t:CT_SplashScreen"/>
        <xs:element name="InitialRotationPreference" type="CT_InitialRotationPreference" minOccurs="0"/>
        <xs:element name="ApplicationView" type="t:CT_ApplicationView" minOccurs="0"/>
      </xs:all>
      <xs:attributeGroup ref="m:VisualElementsBaseAttributes"/>
      <xs:attribute name="Square150x150Logo" type="t:ST_ImageFile" use="required"/>
      <xs:attribute name="Square30x30Logo" type="t:ST_ImageFile" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_DefaultTile">
    <xs:all>
      <xs:element name="TileUpdate" type="t:CT_TileUpdate" minOccurs="0"/>
      <xs:element name="ShowNameOnTiles" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ShowOn" maxOccurs="3">
              <xs:complexType>
                <xs:attribute name="Tile" type="t:ST_ShowNameSize" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="ShowOn_Tile">
          <xs:selector xpath="m2:ShowOn"/>
          <xs:field xpath="@Tile"/>
        </xs:unique>
      </xs:element>
    </xs:all>
    <xs:attribute name="Wide310x150Logo" type="t:ST_ImageFile" use="optional"/>
    <xs:attribute name="Square310x310Logo" type="t:ST_ImageFile" use="optional"/>
    <xs:attribute name="Square70x70Logo" type="t:ST_ImageFile" use="optional"/>
    <xs:attribute name="ShortName" type="t:ST_ShortDisplayName" use="optional"/>
    <xs:attribute name="DefaultSize" type="t:ST_DefaultSize" use="optional"/>
  </xs:complexType>

  <xs:complexType name="CT_InitialRotationPreference">
    <xs:sequence>
      <xs:element name="Rotation" maxOccurs="4" type="m:CT_Rotation"/>
    </xs:sequence>
  </xs:complexType>

  <!--BACKGROUND TASKS TYPES-->
  <xs:element name="Task" substitutionGroup="m:TaskChoice">
    <xs:complexType>
      <xs:attribute name="Type" type="t:ST_BackgroundTasks_2013" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="DesiredView" type="t:ST_DesiredView"/>
</xs:schema>
