AppxPackaging/Manifest/Schema/2015/AppxPhoneManifestSchema2014.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  WINDOWS 8.1 APPX PHONE MANIFEST SCHEMA

  This is the Schema that defines the Windows 8.1 Phone specific elements and attributes.
  These types are imported into the full schema which is the Windows 8.1 version
  of the Windows 8 schema. It is defined in the AppxManifestSchema2010_v2.xsd

  !!!WARNING!!!

  This schema is closed for any changes. Any changes to this schema file
  are moderated by the Appx team. Changes to the schema can potentially
  break .appx Packages and Manifests based on this schema as well as Test
  and Product code that relies on the schema.

  Please contact 'manifest' alias if you need to request an addition
  or edit to the schema.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:pm="http://schemas.microsoft.com/appx/2014/phone/manifest"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           >
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>

  <!--Phone Identity-->
  <xs:element name="PhoneIdentity">
    <xs:complexType>
      <xs:attribute name="PhoneProductId" type="t:ST_GUID" use="required"/>
      <xs:attribute name="PhonePublisherId" type="t:ST_GUID" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
