AppxPackaging/Manifest/Schema/2015/FoundationManifestSchemaForWinBlue.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD FOUNDATION MANIFEST SCHEMA

  This is the Schema that defines basic elements and attributes for all Windows
  Store apps.  Other platform-specific schemas will be imported into this one
  based on the platforms that each product supports.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/foundation/thresholdpreview"
           xmlns="http://schemas.microsoft.com/appx/manifest/foundation/thresholdpreview"
           xmlns:foundation="http://schemas.microsoft.com/appx/manifest/foundation/thresholdpreview"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>

  <xs:simpleType name="ST_BackgroundTasks_2015_Foundation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="general"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Task" substitutionGroup="m:TaskChoice">
    <xs:complexType>
      <xs:attribute name="Type" type="ST_BackgroundTasks_2015_Foundation" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_Capabilities_2015_Foundation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allJoyn"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Capability" substitutionGroup="m:CapabilityChoice">
    <xs:complexType>
      <xs:attribute name="Name" type="ST_Capabilities_2015_Foundation" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_ApplicationExtensionCategory_Foundation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="windows.restrictedLaunch"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Extension" substitutionGroup="m:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:attribute name="Category" type="ST_ApplicationExtensionCategory_Foundation" use="required"/>
      <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
