AppxPackaging/Manifest/Schema/2015/IotManifestSchemaForWinBlue.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD IOT MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for the IoT
  Platform features in Thresold.  These types are imported into the Foundation
  schema and included in products that support IoT.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/iot/thresholdpreview"
           xmlns="http://schemas.microsoft.com/appx/manifest/iot/thresholdpreview"
           xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/thresholdpreview"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>

  <xs:simpleType name="ST_BackgroundTasks_2015_Iot">
    <xs:restriction base="xs:string">
      <xs:enumeration value="startup"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Task" substitutionGroup="m:TaskChoice">
    <xs:complexType>
      <xs:attribute name="Type" type="ST_BackgroundTasks_2015_Iot" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
