AppxPackaging/Manifest/Schema/2015/UapManifestSchemaForWinBlue.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  THRESHOLD UAP MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for the Universal App
  Platform features in Thresold.  These types are imported into the Foundation
  schema and included in products that support UAP.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests.  Please contact 'manifest' alias if you need to
  request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/uap/thresholdpreview"
           xmlns="http://schemas.microsoft.com/appx/manifest/uap/thresholdpreview"
           xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/thresholdpreview"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>

  <xs:element name="SupportedUsers" type="t:ST_SupportedUsers"/>

  <xs:element name="Extension" substitutionGroup="m:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="WebAccountProvider" type="CT_WebAccountProvider"/>
        <xs:element name="DialProtocol" type="CT_DialProtocol"/>
        <xs:element name="AppService" type="CT_AppService"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_Uap" use="required"/>
      <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="CT_WebAccountProvider">
    <xs:sequence>
      <xs:element name="ManagedUrls" type="CT_ManagedUrls" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Url" type="t:ST_WebAccountProviderUrl" use="required"/>
    <xs:attribute name="BackgroundEntryPoint" type="t:ST_EntryPoint" use="required"/>
  </xs:complexType>

  <xs:complexType name="CT_ManagedUrls">
    <xs:sequence>
      <xs:element name="Url" type="t:ST_WebAccountProviderUrl"  minOccurs="1" maxOccurs="200"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_DialProtocol">
    <xs:attribute name="Name" type="t:ST_DialProtocol" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="CT_AppService">
    <xs:attribute name="Name" type="t:ST_AppServiceName" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ST_BackgroundTasks_2015_Uap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="vpnClient"/>
      <xs:enumeration value="phoneCall"/>
      <xs:enumeration value="mediaProcessing"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Task" substitutionGroup="m:TaskChoice">
    <xs:complexType>
      <xs:attribute name="Type" type="ST_BackgroundTasks_2015_Uap" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_Capability_2015_Uap">
    <xs:restriction base="xs:string">
      <xs:enumeration value="phoneCall"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Capability" substitutionGroup="m:CapabilityChoice">
    <xs:complexType>
      <xs:attribute name="Name" type="ST_Capability_2015_Uap" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
