resources/AppxPackaging/Manifest/Schema/2018/UapManifestSchema_v8.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  REDSTONE 6 UAP V8 MANIFEST SCHEMA

  This schema extends the elements that are available in the RS6 UAP schema.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests. Please follow https://microsoft.sharepoint.com/teams/appxmanifest/SitePages/Home.aspx
  if you need to request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/uap/windows10/8"
           xmlns="http://schemas.microsoft.com/appx/manifest/uap/windows10/8"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"/>

  <xs:element name="Extension" substitutionGroup="f:ExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="PosPaymentConnector" type="CT_PosPaymentConnector"/>
        <xs:element name="DataProtection" type="CT_DataProtection"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ExtensionCategory_Uap8" use="required"/>
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_PosPaymentConnector">
    <xs:attribute name="DisplayName" type="t:ST_DisplayName" use="required"/>
  </xs:complexType>

  <xs:element name="ActiveCodePage" type="ST_ActiveCodePage" />

  <xs:simpleType name="ST_ActiveCodePage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UTF-8"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Tools">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tool" minOccurs="0" maxOccurs="1000">
          <xs:complexType>
            <xs:attribute name="DisplayName" type="t:ST_DisplayName" use="required"/>
            <xs:attribute name="Route" type="t:ST_NonEmptyString" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Workspaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Workspace" minOccurs="0" maxOccurs="1000">
          <xs:complexType>
            <xs:attribute name="DisplayName" type="t:ST_DisplayName" use="required"/>
            <xs:attribute name="Route" type="t:ST_NonEmptyString" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="Launch" type="ST_Launch"/>

  <xs:simpleType name="ST_Launch">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file"/>
      <xs:enumeration value="placeholderFile"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_DataProtection">
    <xs:attribute name="UserDataAvailability" type="ST_UserDataAvailability" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ST_UserDataAvailability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="always"/>
      <xs:enumeration value="afterFirstUnlock"/>
      <xs:enumeration value="whileUnlocked"/>
      <xs:enumeration value="applicationManaged"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="AllowOverride" type="xs:boolean"/>
  
  <xs:element name="ExecutionAlias" substitutionGroup="uap3:ExecutionAliasChoice">
    <xs:complexType>
      <xs:attribute name="Alias" type="t:ST_ExecutableNoPath" use="required"/>
      <xs:attribute ref="AllowOverride" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
