AppxPackaging/Manifest/Schema/XboxManifestSchema2013.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  XBOX ONE MANIFEST SCHEMA

  This is the schema that defines elements and attributes specific to Xbox One.
  These types are imported into the full Appx manifest schema for App Model
  version 6.2, defined in AppxManifestSchema2010.xsd

  !!!WARNING!!!

  Any changes to this schema file are moderated by the App Platform team.
  Changes to the schema can potentially break .xvc Packages and Manifests
  based on this schema as well as Test and Product code that relies on the
  schema.

  Please contact 'durappplat' and 'manifest' aliases if you need to
  request a change to the schema.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/2013/xbox/manifest"
           xmlns="http://schemas.microsoft.com/appx/2013/xbox/manifest"
           xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:m="http://schemas.microsoft.com/appx/2010/manifest"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/2010/manifest"/>

  <!--ContentPackage-->
  <xs:element name="ContentPackage" type="xs:boolean"/>

  <xs:element name="Capability">
    <xs:complexType>
      <xs:attribute name="Name" type="ST_XboxPackageCapabilities" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ST_XboxPackageCapabilities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="contentRestrictions"/>
      <xs:enumeration value="kinectVision"/>
      <xs:enumeration value="kinectAudio"/>
      <xs:enumeration value="kinectFace"/>
      <xs:enumeration value="kinectExpressions"/>
      <xs:enumeration value="kinectGamechat"/>
      <xs:enumeration value="kinectRequired"/>
    </xs:restriction>
  </xs:simpleType>

  <!--PREREQUISITES-->
  <xs:element name="ApplicationEnvironment">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="title"/>
        <xs:enumeration value="app"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="OSName">
    <xs:simpleType>
      <xs:restriction base="t:ST_NonEmptyString">
        <xs:maxLength value="128"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <!--VIEW STATES-->
  <xs:simpleType name="ST_SupportedViewStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="snapped"/>
      <xs:enumeration value="filled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ViewStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ViewState" minOccurs="1" maxOccurs="2">
          <xs:complexType>
            <xs:attribute name="Name" type="ST_SupportedViewStates" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--XBOX LIVE EXTENSION SCHEMA-->
  <xs:simpleType name="ST_TitleId">
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
      <xs:maxLength value="8"/>
      <xs:pattern value="[0-9a-fA-F]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_XboxLive">
    <xs:all minOccurs="0">
      <xs:element name="ConnectedStorage" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllowReadFrom" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="ServiceConfigId" type="t:ST_GUID" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MaxMegabytesPerUser" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:minInclusive value="256"/>
                <xs:maxInclusive value="4096"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>

    <xs:attribute name="TitleId" type="ST_TitleId" use="required"/>
    <xs:attribute name="PrimaryServiceConfigId" type="t:ST_GUID" use="required"/>
    <xs:attribute name="EnableProtocolHandler" type="xs:boolean" use="optional"/>
    <xs:attribute name="RequireXboxLive" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="CT_Vui">
    <xs:attribute name="Alm" type="t:ST_NonEmptyString" use="required"/>
    <xs:attribute name="Pron" type="t:ST_NonEmptyString" use="optional"/>
  </xs:complexType>

  <!--XBOX MEDIA CAPTURE EXTENSION SCHEMA-->
  <xs:simpleType name="ST_BroadcastProviderId">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="[0-9a-zA-Z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_XboxMediaCapture">
    <xs:attribute name="BroadcastProvider" type="xs:boolean" use="optional"/>
    <xs:attribute name="GameDVRSystemComponent" type="xs:boolean" use="optional"/>
    <xs:attribute name="BlockBroadcast" type="xs:boolean" use="optional"/>
    <xs:attribute name="BlockGameDVR" type="xs:boolean" use="optional"/>
    <xs:attribute name="BroadcastProviderId" type="ST_BroadcastProviderId" use="optional"/>
    <xs:attribute name="Version" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99999"/>
          </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!--XBOX MULTIPLAYER EXTENSION SCHEMA-->
  <xs:complexType name="CT_XboxMultiplayer">
    <xs:attribute name="CanSuppressPartyChat" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!--XBOX SYSTEM RESOURCES SCHEMA-->
  <xs:simpleType name="ST_GpuAvailability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fixed"/>
      <xs:enumeration value="variable"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ResourceConfiguration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="extended"/>
      <xs:enumeration value="extendedVideoPlayback"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_TitleMemoryMax">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="5"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ST_ConsoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Xbox_One_X"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_TitleMemory">
    <xs:attribute name="ConsoleType" type="ST_ConsoleType" use="required" />
    <xs:attribute name="Size" type="ST_TitleMemoryMax" use="required" />
  </xs:complexType>
  
  <xs:complexType name="CT_XboxSystemResources">
    <xs:all minOccurs="0">
      <xs:element name="GpuAvailability" type="ST_GpuAvailability" minOccurs="0"/>
      <!-- We only support Scorpio as ConsoleType now.  When this changes, the max
           occurences here needs to increase as well -->
      <xs:element name="TitleMemory" type="CT_TitleMemory" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="resourceConfiguration" type="ST_ResourceConfiguration" use="optional"/>
  </xs:complexType>

  <!--XBOX REMOTE LAUNCH SCHEMA-->
  <xs:complexType name="CT_XboxRemoteLaunchDial">
    <xs:attribute name="Name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="CT_XboxRemoteLaunch">
    <xs:sequence>
      <xs:element name="DIAL" type="CT_XboxRemoteLaunchDial" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!--KINECT SCHEMA-->
  <xs:complexType name="CT_Kinect">
    <xs:sequence>
      <xs:element name="AudioPipeline">
        <xs:complexType>
          <xs:attribute name="Version" type="t:ST_VersionDuoOrTrio" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="SpeechPipeline">
        <xs:complexType>
          <xs:attribute name="Version" type="t:ST_VersionDuoOrTrio" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="VisionPipeline">
        <xs:complexType>
          <xs:attribute name="Version" type="t:ST_VersionDuoOrTrio" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IsVersionLocked" type="xs:boolean" use="optional" />
  </xs:complexType>

  <!--XBOX FISSION SCHEMA-->
  <xs:complexType name="CT_XboxFission">
    <xs:attribute name="IsFissionApp" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!--XBOX NETWORKING MANIFEST EXTENSION SCHEMA-->
  <xs:complexType name="CT_XboxNetworkingManifest">
    <xs:sequence>
      <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute namespace="##any" processContents="lax" />
  </xs:complexType>

  <!--DLC SCHEMA-->
  <xs:complexType name="CT_ContentPackage">
    <xs:sequence>
      <xs:element name="AllowedProduct" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="Id" type="t:ST_GUID" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ContentPackageVisualElements" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="DisplayName" type="t:ST_DisplayName" use="required"/>
          <xs:attribute name="Description" type="t:ST_Description" use="required"/>
          <xs:attribute name="ForegroundText" type="t:ST_ForegroundText" use="required"/>
          <xs:attribute name="BackgroundColor" type="t:ST_Color" use="required"/>
          <xs:attribute name="Logo" type="t:ST_ImageFile" use="required"/>
          <xs:attribute name="SmallLogo" type="t:ST_ImageFile" use="required"/>
          <xs:attribute name="WideLogo" type="t:ST_ImageFile" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>      
  </xs:complexType>

  <!--XBOX STORE SCHEMA-->
  <xs:complexType name="CT_XboxStore">
    <xs:all>
      <xs:element name="RelatedProducts" type="CT_RelatedProduct" minOccurs="0" maxOccurs="1" />
      <xs:element name="TrialLicense" type="CT_TrialLicense" minOccurs="0" maxOccurs="1" />        
    </xs:all>
  </xs:complexType>
    
  <xs:complexType name="CT_RelatedProduct">
    <xs:sequence>
      <xs:element name="RelatedProduct" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
            <xs:attribute name="Id" type="t:ST_GUID" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_TrialLicense">
    <xs:attribute name="SuspendOptOut" type="xs:boolean" use="optional" />
  </xs:complexType>
  
  <!-- STORAGE SCHEMA -->
 <xs:complexType name="CT_Storage">
    <xs:all minOccurs="0">
      <xs:element name="PersistentLocalStorage" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="SizeInMegabytes" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:integer"/>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SharedStorage" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="SharedId" type="t:ST_GUID" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!--PER-PACKAGE EXTENSIONS-->
  <xs:simpleType name="ST_XboxPackageExtensionCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="windows.kinect"/>
      <xs:enumeration value="xbox.contentpackage"/>
      <xs:enumeration value="xbox.store"/>
      <xs:enumeration value="xbox.storage"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_XboxPackageExtension">
    <xs:choice>
      <xs:element name="Kinect" type="CT_Kinect"/>
      <xs:element name="ContentPackage" type="CT_ContentPackage"/>
      <xs:element name="XboxStore" type="CT_XboxStore" />
      <xs:element name="Storage" type="CT_Storage" />
    </xs:choice>
    <xs:attribute name="Category" type="ST_XboxPackageExtensionCategory" use="required"/>
  </xs:complexType>

  <xs:element name="PackageExtension" type="CT_XboxPackageExtension"/>

  <!--APPLICATION EXTENSIONS-->
  <xs:simpleType name="ST_XboxApplicationExtensionCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="xbox.live"/>
      <xs:enumeration value="xbox.media.capture"/>
      <xs:enumeration value="xbox.multiplayer"/>
      <xs:enumeration value="xbox.fission"/>    
      <xs:enumeration value="windows.xbox.networking"/>
      <xs:enumeration value="xbox.system.resources"/>
      <xs:enumeration value="xbox.remoteLaunch" />
      <xs:enumeration value="xbox.vui" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Extension">
    <xs:complexType>
      <xs:choice>
        <!--Xbox Live Title ID DEH-->
        <xs:element name="XboxLive" type="CT_XboxLive"/>
        <!--Xbox Media Capture DEH-->
        <xs:element name="XboxMediaCapture" type="CT_XboxMediaCapture"/>
        <!--Xbox System Resources DEH-->
        <xs:element name="XboxSystemResources" type="CT_XboxSystemResources"/>
        <!--Xbox Fission DEH-->
        <xs:element name="XboxFission" type="CT_XboxFission"/>    
        <!--Xbox Multiplayer DEH-->
        <xs:element name="XboxMultiplayer" type="CT_XboxMultiplayer"/>
        <!--Xbox Networking DEH-->
        <xs:element name="XboxNetworkingManifest" type="CT_XboxNetworkingManifest"/>
        <!-- Xbox Remote Launch DEH -->
        <xs:element name="XboxRemoteLaunch" type="CT_XboxRemoteLaunch"/>
        <!-- Xbox VUI DEH -->
        <xs:element name="XboxVui" type="CT_Vui"/>
      </xs:choice>
      <xs:attribute name="Category" type="ST_XboxApplicationExtensionCategory" use="required"/>
      <xs:attributeGroup ref="m:ExtensionBaseAttributes"/>
    </xs:complexType>
  </xs:element>

  <!--PER-APPLICATION RATINGS-->
  <xs:element name="Ratings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rating" minOccurs="0" maxOccurs="100">
           <xs:simpleType>
             <xs:restriction base="xs:string">
               <xs:pattern value="(\d{4}\.\d{2}:)?[A-Za-z][A-Za-z0-9\-\.]*:[A-Za-z0-9][A-Za-z0-9\-\.]*"/>
             </xs:restriction>
           </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Category" type="ST_RatingCategory" use="required"/>
    </xs:complexType>
    <xs:unique name="RatingId_Match">
      <xs:selector xpath="mx:Rating"/>
      <xs:field xpath="."/>
    </xs:unique>
  </xs:element>

  <xs:simpleType name="ST_RatingCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="general"/>
      <xs:enumeration value="game"/>
      <xs:enumeration value="application"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
