resources/AppxPackaging/Manifest/Schema/2017/DesktopManifestSchema_v4.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- @@BEGIN_SDKSPLIT

  REDSTONE 4 DESKTOP V4 MANIFEST SCHEMA

  This is the Schema that defines elements and attributes for the Universal App
  Platform features in RS4. These types are imported into the Foundation
  schema and included in products that support UAP.

  !!!WARNING!!!

  Don't make any changes to this schema.  Changes will affect a wide range of
  partners and can potentially break product and test code, as well as existing
  .appx packages and manifests. Please follow https://osgwiki.com/wiki/Manifest_Request
  if you need to request any addition or modification.

@@END_SDKSPLIT -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
           xmlns="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
           xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
           xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
           >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"/>

  <xs:element name="Extension" substitutionGroup="f:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="FileExplorerContextMenus" type="CT_FileExplorerContextMenus"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_Desktop4" use="required"/>
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
      <xs:attributeGroup ref="uap10:TrustLevelGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_FileExplorerContextMenus">
    <xs:sequence minOccurs="0" maxOccurs="10000">
      <xs:element name="ItemType" type="CT_ItemType" minOccurs="0"/>
      <xs:element ref="desktop5:ItemType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CT_ItemType">
    <xs:sequence minOccurs="0">
      <xs:element name="Verb" maxOccurs="10000">
        <xs:complexType>
          <xs:attribute name="Id" type="t:ST_FileTypeAssociationSupportedVerbId" use="required" />
          <xs:attribute name="Clsid" type="t:ST_GUID" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Type" type="t:ST_FileTypeOrStar" use="required"/>
  </xs:complexType>

  <xs:element name="DesktopIconOverlayHandlers">
    <xs:complexType >
      <xs:sequence minOccurs="0">
        <xs:element name="DesktopIconOverlayHandler" maxOccurs="10000">
          <xs:complexType>
            <xs:attribute name="Clsid" type="t:ST_GUID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ContentUriSource">
    <xs:complexType>
      <xs:attribute name="Clsid" type="t:ST_GUID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:attribute name="Subsystem" type="t:ST_Subsystem"/>
  <xs:attribute name="SupportsMultipleInstances" type="xs:boolean"/>

</xs:schema>

